<style type="text/css">
   .newUlView {
   padding: 5px;
   margin: 3px;
   }
   .subnavbar .mainnav > li:nth-child(4) > a{
   color: #ff9900;
   }
</style>
<div class="main">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-xs-12">
            <div class="widget stacked">
               <div class="widget-header">
                  <i class="fa fa-plane"></i>
                  <h3>Entry Support Service</h3>
               </div>
               <!-- /widget-header -->
               <div class="widget-content">
                  <div id='external-events'>
                     <h6>Drag a event and drop into callender</h6>
                     <ul style="list-style: none;padding: 0px">
                        <li class="active">
                           <div class='fc-event newUlView'>My Event 1</div>
                        </li>
                        <li class="active">
                           <div class='fc-event newUlView' >My Event 2</div>
                        </li>
                        <li class="active">
                           <div class='fc-event newUlView'>My Event 3</div>
                        </li>
                        <li class="active">
                           <div class='fc-event newUlView'>My Event 4</div>
                        </li>
                        <li class="active">
                           <div class='fc-event newUlView'>My Event 5</div>
                        </li>
                        <li class="active">
                           <div class='fc-event newUlView'>My Event 6</div>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- /widget-content -->
            </div>
            <!-- /widget -->  
         </div>
         <!-- /span6 -->
         <div class="col-md-9">
            <div class="widget stacked">
               <div class="widget-header">
                  <i class="fa fa-calendar"></i>
                  <h3>Schedule</h3>
               </div>
               <!-- /widget-header -->
               <div class="widget-content">
                  <div id='calendar'></div>
                  <div style='clear:both'></div>
               </div>
               <!-- /widget-content -->
            </div>
            <!-- /widget -->
         </div>
         <!-- /span6 -->
      </div>
      <!-- /row -->
   </div>
   <!-- /container -->
</div>
<!-- /main -->