/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

body{
	color: #333;
}

.custom-widget-content{
	width: 100%;
	height: auto;
	padding: 15px 0;
	background-color: #fff;
	border: 1px solid #D5D5D5;
	border-radius: 0 0 5px 5px;
}
.hr{
	margin: 5px 0;
}
.disableSelect:disabled{
	border: 0;
	background-color: transparent;
	color: #f90;
	box-shadow: none;
	-webkit-appearance: none;
    appearance: none;
}
.disableInput:disabled{
	border: 0;
	background-color: transparent;
	color: #222;
	box-shadow: none;
}
.img-logo{
	height: 25px;
	padding-left: 10%;
}

.widget-header > i{
	display: inline-block;
    margin-top: -3px;
    margin-left: 13px;
    margin-right: -2px;
    font-size: 16px;
    color: #555;
    vertical-align: middle;
}


table{
	width: 100%;
}
table th, td{
	font-size: 13px;
}
.navbar-brand{
	height: auto;
}
.custom-widget-content .btn-xs{
	padding: 3px 5px;
}
.fc-event{
	background-color: #ff9900 !important;
	color: #fff !important;
	border: 1px solid #ff9900 !important;
}
.pull-right-color{
	background-image: linear-gradient(to bottom, #1c84c6  0%, #1c84c6  100%);
}
.pull-right-setup{
	margin-bottom: 10px;
	background-image: linear-gradient(to bottom, #1c84c6  0%, #1c84c6  100%);
}
.Airport{
	padding-top: 5px;
}
.src-image{
	width: 50px;
	height: 50px;
}
.Accept{
	padding-top: 25px;	
}
.dis{
	float: left;
	margin-right:100px;
}
/*.email-password{
	width: 40px;
	height: 24px;
}*/
.email-password-icon{
	width: 10px;
	height: 10px;
}
@media( max-width: 768px;){
.btn{
font-size: 10px !important;
}
.dis{
	float: none;
	margin-right: 0px;
}
}
.Search-tabs{
	border-bottom: 0px solid #ddd; */
}

.customer-table table{
	width: 100%;
}
.customer-table input{
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #e4e3e3;
	padding: 0px;
	font-size: 10px;
	display: -webkit-inline-box;
	display: inline-box;
	height: 31px;
}
.customer-table select{
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #e4e3e3;
	padding: 0px;
	font-size: 10px;
	height: 31px;
	display: -webkit-inline-box;
	display: inline-box;
}
.customer-table th > label{
	font-weight: bold;
	padding: 10px 5px 2px 5px;
	margin-bottom: 0;
}
.customer-table td{
	padding: 5px !important;
	height: auto !important;
	vertical-align: middle !important;
}
.customer-table td > select{
	height: 22px !important;
}
.customer-table td > button{
	font-size: 10px;
}

/*.new-input-label{
	margin-bottom: 0;
	line-height: 34px;
}*/





/*  new custom css for accrodian tabs */

.customAccordianHeader{
	width: 100%;
	height: auto;
	background-color: #F3F3F3;
	border: 1px solid #ddd;
    color: #333;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
    border-radius: 3px 3px 3px 3px;
    padding: 10px 15px;
    margin-top: 10px;
}

.customAccordianHeader.customActive{
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#555555), to(#3b3b3b));
	background-image: linear-gradient(to bottom, #555555 0%, #3b3b3b 100%);
	background-repeat: repeat-x;
	border: 1px solid #222222;
    color: #FFF;
    border-radius: 3px 3px 0 0;
}
.customAccordianHeader > span{
	font-size: 15px;
	line-height: 22px;
	float: left;
}
.customAccordianHeader .btn{
	padding: 2px 12px;
}
.customAccordianHeader > .form-control{
	outline: none;
	box-shadow: none;
}
.customAccordianHeader > select.form-control{
	width: 150px;
	height: 26px;
	padding: 0 6px;
	float: left;
}
.customAccordianHeader > select.form-control[disabled]{
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	color: #f90;
	width: auto;
}
.customAccordianHeader > input.form-control{
	width: 70px;
	height: 26px;
	padding: 0 6px;
	float: left;
}
.customAccordianHeader > input.form-control[disabled]{
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	color: #333;
}
.customAccordianTabBody{
	width: 100%;
	height: auto;
	padding: 15px;
	border: 1px solid #ddd;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}
.customTableWithFilter{
	width: auto;
	height: auto;
}
.customTableWithFilter th{
	padding: 5px;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
}
.customTableWithFilter th i{
	margin-top: 3px;
}
.customTableWithFilter th span{
	font-size: 11px;
	color: #222;
}
.customTableWithFilter th input{
	width: 50px;
}
.customTableWithFilter td{
	padding: 5px;
	border: 1px solid #ddd;
}
.customTableWithFilter td span{
	font-size: 11px;
}
.customTableWithFilter td span:first-child{
	color: #449d44;
	font-weight: bold;
}
.customTableWithFilter td span:last-child{
	color: #c9302c;
	font-style: italic;
	font-weight: bold;
}
.customTableWithFilter td .tierTextBox{
	width: 70px;
}
.customTableWithFilter .addTierButton{
	color: #fff;
	background-color: #2196f3;
	border: none;
	padding: 3px 5px;
}
.customTableWithFilter td .fa-trash-o{
	color: #fff;
	background-color: #c9302c;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}
.resizeTextarea{
	resize: vertical;
	margin-top: 20px;
}





.new-widget-content{
	padding: 0 0 0 0 !important;
}
.new-tab-heading{
	padding: 5px;
	color: #333;
	background-color: #fcfcfc;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
}
.new-tab-body{
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	padding-left: 15px;
	padding-bottom: 5px;
}
.new-tab-heading i.fa{
	font-size: 16px;
	cursor: pointer;
}
.new-tab-heading span{
	font-size: 14px;
	margin-left: 5px;
}
.new-tab-heading i.fa-plus-circle{
	color: #067dfc;
}
.new-tab-heading i.fa-minus-circle{
	color: #d00d09;
}
.new-tab-body-th{
	color: #333;
}
.new-tab-body-th > div{
	font-size: 12px;
	font-weight: bold;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}
.new-tab-body-th > div:first-child{
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
.new-tab-body-td i.fa-plus-circle{
	color: #067dfc;
}
.new-tab-body-td i.fa-minus-circle{
	color: #d00d09;
}
.new-tab-body-td input{
	width: 50px;
	height: 24px;
}
.new-tab-body-td .fa{
	font-size: 14px;
}
.new-tab-body-td > div:first-child > div{
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}
.new-tab-body-td > div:first-child > div:first-child{
	text-align: left;
}
.appliesTableHeading{
	border: 1px solid #d5d5d5;
	padding: 5px;
	color: #333;
	font-weight: bold;
	background-color: #fcfcfc;
	margin: 10px 0 0 0;
}
.appliesTableBody{
	border: 1px solid #d5d5d5;
	border-top: 0;
	background-color: #ffffe0;
	margin-bottom: 10px;
	height: auto;
}
.appliesTableBody > div.firstDiv{
	height: 100px;
	float: left;
	width: 40%;
	border-right: 1px solid #d5d5d5;
	overflow: auto;
	padding: 5px;
}
.appliesTableBody > div.lastDiv{
	width: 59%;
	height: 100px;
	padding: 5px;
	float: left;
}
.appliesTableBody > div.lastDiv textarea{
	width: 40%;
	height: 60px;
	margin: 15px 0;
	resize: none;
	float: left;
}
.reportedByTag{
	width: 60%;
	height: 80px;
	border-top: 10px solid #393;
	border-left: 10px solid #6c6;
	border-radius: 5px 0 0 5px;
	background-color: #d7d7d7;
	float: right;
	position: relative;
    right: -13px;
    margin-top: 5px;
    font-size: 11px;
}
.confirmedTag{
	background-color: #393;
	color: #fff;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 25px;
    left: -24px;
    width: 71px;
    text-align: center;
    font-size: 11px;
}
.reportedByTag table{
	margin-left: 27px;
	width: calc(100% - 27px);
}
.reportedByTag table td{
	font-size: 11px;
	text-align: center;
	font-weight: bold;
}
.reportedByTag table tr:last-child td{
	text-align: left;
	font-weight: normal;
	font-size: 10px;
}
.feeManagerRight{
	min-height: 70px;
	position: relative;
}
.feeManagerRight div{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.new-tab-body-td{
	padding: 5px 0;
}

/*  new checkbox slide css */

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    margin: auto;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 0px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 18px; 
    padding: 0; 
    line-height: 18px;
    font-size: 10px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Include";
    padding-left: 5px;
    background-color: #016ADB; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "Exclude";
    padding-right: 5px;
    background-color: ; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 25px; 
    margin: -3.5px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 58px;
    border: 2px solid #999999; 
    border-radius: 0px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-switch i{
	line-height: 25px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.onoffswitch-checkbox fa-check{
	color: #00ff00;
}
.onoffswitch-checkbox fa-times{
	color: #ff0000;
}

.newButtons{
	background-color: #fff;
	border-radius: 10px;
	color: #333;
	border: 1px solid #eee;
	box-shadow: 5px 5px 6px rgba(0,0,0,0.3);
	padding: 6px 15px;
	margin-right: 10px;
}
.newButtons:disabled{
	background-color: #eee;
}
*{
	outline: none;
}


/*   my custom modal  */

.customBackdrop{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.15);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.customModalInner{
	width: 100%;
	max-width: 500px;
	height: 200px;
	top: 15%;
	position: relative;
	margin: auto;
}
.customModelHead, .customModelFooter{
	width: 100%;
	background-color: #fafafa;
	border-bottom: 1px solid #ccc;
	color: #333;
	padding: 10px;
}
.customModelFooter{
	border-top: 1px solid #ccc;
}
.customModelBody{
	width: 100%;
	height: auto;
	background-color: #fff;
	color: #333;
	padding: 10px;
}
.customModelHead p{
	margin-bottom: 0;
	font-size: 14px;
}
.customModelFooter button{
	border: 1px solid #ccc;
}
.customModelFooter input[type="submit"]{
	background-color: #6ad46a;
	border: 1px solid #ccc;
}


/*  custom confirmation model */


.customConfirmPopBackdrop{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	display: none;
}
.customConfirmPopBackdrop .customModalInner{
	top: 30%;
}



/*  tier list table */

.tierListWrap{
	width: 120px;
	height: auto;
	float: left;
}
.tierListHead{
	width: 100%;
	padding: 5px;
	background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-right: none;
}
.tierListBody{
	width: 100%;
	padding: 5px;
	border: 1px solid #ddd;
	border-top: none;
	border-right: none;
}
.minTierSpan{
	color: #449d44;
	font-weight: bold;
	font-size: 11px;
}
.maxTierSpan{
	color: #c9302c;
	font-style: italic;
	font-size: 11px;
	font-weight: bold;
}
.tierHeadingSpan{
	font-size: 11px;
	color: #222;
	font-weight: bold;
}
.tierListHead input{
	width: 50px;
	height: 24px;
}
.addTierBtn{
	color: #fff;
	background-color: #2196f3;
	border: none;
	padding: 1px 5px;
}
.deleteTierIcon{
	color: #fff;
	background-color: #c9302c;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}

.customToogle {
	padding: 2px 6px !important;
	height: auto !important;
	min-height: 28px !important;

}

.myLoader{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.myLoader img{
	position: relative;
	top: calc(50% - 25px);
}
.customErrorInput{
    background-color: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}
.customErrorMessage{
    color: #8a1f11;
    font-weight: bold;
}
.ui-datepicker .ui-widget-header{
	background-image: none !important;
}
.recordCountSelect{
	background-color: #fff;
}
.exportBtn{
	margin-top: 20px;
}
.select2-container .select2-choice{
	height: 34px !important;
	padding: 6px 12px !important;
	border: 1px solid #ccc !important;
	background-image: none !important;
}
.select2-container .select2-choice .select2-arrow{
	border-left: none !important;
	background: transparent !important;
}
.select2-container .select2-choice{
	padding: 2px 12px !important;
}