<style>
   .subnavbar .mainnav > li:first-child > a{
      color: #ff9900;
   }
</style>


<div class="main">
   <div class="container" ng-if="isAuthenticated">
      <div class="row">
         <div class="col-md-7">
            <div class="widget stacked">
               <div class="row">
                  <div class="col-md-3">
                     <div class="widget-header">
                        <i class="fa fa-tint"></i> &nbsp; Fuel Orders
                     </div>
                     <div class="custom-widget-content">
                        <div>
                           <div class="col-xs-12">
                              <span class="pull-left">Completed</span>
                              <button class="btn btn-success btn-xs pull-right">
                              <span style="font-size:9px;">Monthly</span>
                              </button>
                              <div class="clearfix"></div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <hr class="hr">
                        <div class="col-xs-12">
                           <h2 style="margin-bottom: 0px;">280</h2>
                           <span>Fuel Orders</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="widget-header">
                        <i class="fa fa-tint"></i> &nbsp; Fuel Orders 
                     </div>
                     <div class="custom-widget-content">
                        <div>
                           <div class="col-xs-12">
                              <span class="pull-left">Pending</span>
                              <button class="btn btn-success btn-xs pull-right pull-right-color ">
                              <span style="font-size:9px;">Monthly</span>
                              </button>
                              <div class="clearfix"></div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <hr class="hr">
                        <div class="col-xs-12">
                           <h2 style="margin-bottom: 0px;">280</h2>
                           <span>Fuel Orders</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="widget-header">
                        <i class="fa fa-list-alt "></i>
                        <h3>Fuel Order</h3>
                     </div>
                     <div class="custom-widget-content">
                        <div>
                           <div class="col-xs-12">
                              <span class="pull-left">Activity: Airport Operations</span>
                              <button class="btn btn-primary btn-xs pull-right">
                              <span style="font-size:9px;">Monthly</span>
                              </button>
                              <div class="clearfix"></div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <hr class="hr">
                        <div class="col-xs-6">
                           <h2 style="margin-bottom:0px;">280</h2>
                           <span>Based-Aircraft</span>
                        </div>
                        <div class="col-xs-6">
                           <h2 style="margin-bottom: 0px;">280</h2>
                           <span>Take-offs & Landings</span>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
               </br>
               <div class="row">
                  <div class="col-md-12">
                     <div class="widget-header">
                        <i class="fa fa-signal" aria-hidden="true"></i>
                      <h3>Chart</h3>
                     </div>
                     <!-- /widget-header -->
                     <div class="widget-content">
                        <div class="stats">
                           <div class="stat">
                              <span class="stat-value">12,386</span>                         
                              Site Visits
                           </div>
                           <!-- /stat -->
                           <div class="stat">
                              <span class="stat-value">9,249</span>                          
                              Unique Visits
                           </div>
                           <!-- /stat -->
                           <div class="stat">
                              <span class="stat-value">70%</span>                         
                              New Visits
                           </div>
                           <!-- /stat -->
                        </div>
                        <!-- /stats -->
                        <div id="chart-stats" class="stats">
                           <div class="stat stat-chart">
                              <!-- <div id="donut-chart" class="chart-holder"></div> --> <!-- #donut -->    
                              <div id="area-chart" class="chart-holder" style="height: 250px;"></div>
                              <!-- /area-chart -->
                           </div>
                           <!-- /substat -->
                           <div class="stat stat-time">                          
                              <span class="stat-value">00:28:13</span>
                              Average Time on Site
                           </div>
                           <!-- /substat -->
                        </div>
                        <!-- /substats -->
                     </div>
                     <!-- /widget-content -->
                  </div>
                  <!-- /widget -->  
               </div>
            </div>
         </div>
         <!-- /span6 -->
         <div class="col-md-5">
            <div class="widget stacked">
            <div class="widget-header">
               <i class="fa fa-pencil"></i>
               <h3>Price Manager</h3>
               <select style="float: right; margin: 7px 10px; width: 150px; height: 26px; padding: 0 0;" class="btn btn-primary" class="form-control" ng-model="sendEmail.pricing" ng-change="confirmMail()">
                  <option value="" disabled selected="selected">Email All Pricing</option>
                  <option value="JET-A">Email JET-A pricing only</option>
                  <option value="AVGAS">Email AVGAS pricing only</option>
                  <option disabled>_______________________________</option>
                  <option value="all">Distribute All</option>
               </select> 
            </div>
            <!-- /widget-header -->
          <div class="widget-content">
               <h4>Deployed Fuel Prices</h4>
               <table class="table">
                  <thead>
                     <tr>
                        <th> Product</th>
                        <th> Cost</th>
                        <th> Margin</th>
                        <th> PAP(Total)</th>
                        <th style="color: #F90;"> Expires</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="fuelPricing in newFuelPricing | filter:{ status: true }">
                        <td>
                           <span style="color: #2196f3" ng-show="fuelPricing.jeta">{{fuelPricing.name}}</span>
                           <span  ng-show="fuelPricing.jeta">{{fuelPricing.namejetrest}}</span>
                           <span style="color: 39c" ng-show="fuelPricing.avgas">{{fuelPricing.name}}</span>
                           <span  ng-show="fuelPricing.avgas">{{fuelPricing.nameavgasrest}}</span>
                        </td>
                        <td>
                          <span>{{fuelPricing.fuelPricing.cost}}</span>
                          </td>
                        <td>
                          <span>{{fuelPricing.fuelPricing.papMargin}}</span>
                           </td>
                        <td>
                           <span style="line-height: 31px; color: #1ab394;">$ {{fuelPricing.fuelPricing.cost -- fuelPricing.fuelPricing.papMargin  | number : 2 }}</span>
                        </td>
                        <td>
                          <span>{{fuelPricing.fuelPricing.expirationDate}}</span>
                        </td>
                     </tr>
                  </tbody>
               </table>
              
            </div>
            <!-- /widget-content -->
         </div>
            <!-- /widget -->
            <div class="widget widget-nopad stacked">
               <div class="widget-header">
                  <i class="fa fa-comment" aria-hidden="true"></i>
                  <h3>Messages</h3>
               </div>
               <!-- /widget-header -->
               <div class="widget-content">
                  <h4 style="padding:10px">Messages</h4>
                  <hr class="hr">
                  <ul class="news-items">
                     <li>
                        <div class="news-item-detail">
                           <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                           <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                        <div class="news-item-date">
                           <span class="news-item-day">08</span>
                           <span class="news-item-month">Mar</span>
                        </div>
                     </li>
                     <li>
                        <div class="news-item-detail">
                           <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                           <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                        <div class="news-item-date">
                           <span class="news-item-day">08</span>
                           <span class="news-item-month">Mar</span>
                        </div>
                     </li>
                  </ul>
               </div>
               <!-- /widget-content -->
            </div>
            <!-- /widget -->        
         </div>
         <!-- /span6 -->
      </div>
      <!-- /row -->
   </div>
   <!-- /container -->
</div>
<!-- /main -->