<style>
   .subnavbar .mainnav > li:nth-child(3) > a{
   color: #ff9900;
   }
</style>
<div class="container">
   <div class="row" style="margin-left:0px">
      <div class="col-md-12">
         <div class="widget stacked">
            <div class="widget-header">
               <i class="fa fa-building"></i>
               <h3>Schedule</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
               <div class="row" style="margin-left:0px">
                  <div class="col-md-6">
                     <div class="widget stacked">
                        <div class="widget-header">
                           <i class="fa fa-building"></i>
                           <h3>Company Details</h3>
                           <div style="float:right;margin-right:15px;"><input type="checkbox" style="margin-top: 13px;" data-toggle="toggle" data-size="mini"></div>
                        </div>
                        <div class="widget-content">
                           <div class="row" style="margin-left:0px">
                              <div class="col-md-9">
                                 <h3 style="color:#F90;">
                                    <b>Antioch Flight Department</b>
                                 </h3>
                              </div>
                              <div class="col-md-3">
                                 <select class="form-control" style="height:31px;">
                                    <option>Margin1</option>
                                    <option>Margin2</option>
                                 </select>
                              </div>
                           </div>
                           <div>
                              <p>
                                 <b>Master Margin Setting </b> 
                                 <select>
                                    <option>Margin1</option>
                                    <option>Margin2</option>
                                 </select>
                                 See Aircrart List
                              </p>
                           </div>
                           <div>
                              <input type="checkbox" name=""> Tenant/Base Customer
                           </div>
                           <div>
                              <input type="checkbox" name=""> CAA Member
                           </div>
                           </br>
                           <div>
                              <p><i class="fa fa-map-marker"></i> Reviera State Rd32 </p>
                              <p><i class="fa fa-phone"></i> (310) 2342-3433 </p>
                              <p><i class="fa fa-envelope"></i> freed@gmail.com</p>
                           </div>
                           </br>
                           <div>
                              <p><b>Company Notes</b></p>
                              <p>This is the test data. note will be written in this</p>
                           </div>
                           <div>
                              <button type="button" class="btn btn-primary">Distribute Price to Company Contacts</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="widget stacked">
                        <div class="widget-header">
                           <i class="fa fa-plane"></i>
                           <h3>Aircraft List</h3>
                        </div>
                        <div class="widget-content" style="padding:0px">
                           <div class="table-responsive">
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                    <tr>
                                       <th>Trial #</th>
                                       <th>Make</th>
                                       <th>Model</th>
                                       <th>JET-A</th>
                                       <th>JET-A(All in)</th>
                                       <th>AVGAS</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>N817C6</td>
                                       <td>Mark</td>
                                       <td>V</td>
                                       <td>
                                          <select class="form-control" style="height:31px;">
                                             <option>Margin1</option>
                                             <option>Margin2</option>
                                          </select>
                                       </td>
                                       <td style="color:#55AF8B;">$3659</td>
                                       <td>
                                          <select class="form-control" style="height:31px;">
                                             <option>Margin1</option>
                                             <option>Margin2</option>
                                          </select>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>N817C6</td>
                                       <td>Mark</td>
                                       <td>V</td>
                                       <td>
                                          <select class="form-control" style="height:31px;">
                                             <option>Margin1</option>
                                             <option>Margin2</option>
                                          </select>
                                       </td>
                                       <td style="color:#55AF8B;">$3659</td>
                                       <td>
                                          <select class="form-control" style="height:31px;">
                                             <option>Margin1</option>
                                             <option>Margin2</option>
                                          </select>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>N817C6</td>
                                       <td>Mark</td>
                                       <td>V</td>
                                       <td>
                                          <select class="form-control" style="height:31px;">
                                             <option>Margin1</option>
                                             <option>Margin2</option>
                                          </select>
                                       </td>
                                       <td style="color:#55AF8B;">$3659</td>
                                       <td>
                                          <select class="form-control" style="height:31px;">
                                             <option>Margin1</option>
                                             <option>Margin2</option>
                                          </select>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>N817C6</td>
                                       <td>Mark</td>
                                       <td>V</td>
                                       <td>
                                          <select class="form-control" style="height:31px;">
                                             <option>Margin1</option>
                                             <option>Margin2</option>
                                          </select>
                                       </td>
                                       <td style="color:#55AF8B;">$3659</td>
                                       <td>
                                          <select class="form-control" style="height:31px;">
                                             <option>Margin1</option>
                                             <option>Margin2</option>
                                          </select>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" style="margin-left:0px">
                  <div class="col-md-6">
                     <div class="widget stacked">
                        <div class="widget-header">
                           <i class="fa fa-user"></i>
                           <h3>Contact List</h3>
                        </div>
                        <div class="widget-content" style="padding:0px">
                           <div class="table-responsive">
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                    <tr>
                                       <th>Price Email</th>
                                       <th>First Name</th>
                                       <th>Last Name</th>
                                       <th>Title</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td><input type="checkbox" data-toggle="toggle" data-size="mini"></td>
                                       <td>Mark</td>
                                       <td>Otto</td>
                                       <td>Dispatcher</td>
                                    </tr>
                                    <tr>
                                       <td><input type="checkbox" data-toggle="toggle" data-size="mini"></td>
                                       <td>Mark</td>
                                       <td>Otto</td>
                                       <td>Dispatcher</td>
                                    </tr>
                                    <tr>
                                       <td><input type="checkbox" data-toggle="toggle" data-size="mini"></td>
                                       <td>Mark</td>
                                       <td>Otto</td>
                                       <td>Dispatcher</td>
                                    </tr>
                                    <tr>
                                       <td><input type="checkbox" data-toggle="toggle" data-size="mini"></td>
                                       <td>Mark</td>
                                       <td>Otto</td>
                                       <td>Dispatcher</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="widget stacked">
                        <div class="widget-header">
                           <i class="fa fa-pencil"></i>
                           <h3>Price Manager Reference</h3>
                        </div>
                        <div class="widget-content">
                           <div class="table-responsive">
                              <table class="table table-hover table-striped">
                                 <thead>
                                    <tr>
                                       <th>Omit</th>
                                       <th>Product</th>
                                       <th>Cost</th>
                                       <th>PAP (Margin)</th>
                                       <th>PAP (Total)</th>
                                       <th style="color:#F90">Expires</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td><input type="checkbox"></td>
                                       <td>Jet-A Full Service</td>
                                       <td>$2.123</td>
                                       <td>$23000</td>
                                       <td style="color:#55AF8B;">$3659</td>
                                       <td style="color:#F90">3/15/2017</td>
                                    </tr>
                                    <tr>
                                       <td><input type="checkbox"></td>
                                       <td>Jet-A Full Service</td>
                                       <td>$2.123</td>
                                       <td>$23000</td>
                                       <td style="color:#55AF8B;">$3659</td>
                                       <td style="color:#F90">3/15/2017</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                       <td><input type="checkbox"></td>
                                       <td>Jet-A Full Service</td>
                                       <td>$2.123</td>
                                       <td>$23000</td>
                                       <td style="color:#55AF8B;">$3659</td>
                                       <td style="color:#F90">3/15/2017</td>
                                    </tr>
                                    <tr>
                                       <td><input type="checkbox"></td>
                                       <td>Jet-A Full Service</td>
                                       <td>$2.123</td>
                                       <td>$23000</td>
                                       <td style="color:#55AF8B;">$3659</td>
                                       <td style="color:#F90">3/15/2017</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /widget-content -->
         </div>
         <!-- /widget -->
      </div>
      <!-- /span6 -->
   </div>
   <!-- /widget -->
</div>
<!-- /container -->
<!-- Le javascript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
   CKEDITOR.replace( 'editor2', {
      height: 250,
      extraPlugins: 'divarea'
   } );
</script>