<style>
   .subnavbar .mainnav > li:nth-child(3) > a{
   color: #ff9900;
   }
</style>
<div class="main">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="widget stacked ">
               <div class="widget-content">
                  <div class="tabbable">
                     <ul class="nav nav-tabs">
                        <li>
                           <a ui-sref="app.customers">Company View 
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li class="active">
                           <a ui-sref="app.ContactView">Contact View 
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a ui-sref="app.FuelVendors">Fuel Vendors 
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li style="margin: 0px 10px 4px 40px;"><input type="text" style="height:31px;"class="form-control" name="name" id="name" placeholder="Search In Table"></li>
                        <li><button type="button" class="btn btn-default btn-sm">Clear Search And Filters</button></li>
                        <li style="float: right"> <button type="submit" data-toggle="modal" data-target="#contact-modal-3" class="btn btn-success btn-sm"> <i class="fa fa-plus" aria-hidden="true"></i> Add Contact </button></li>
                     </ul>
                     <br>  
                     <div class="tab-content customer-table" style="margin:0px">
                        <div class="tab-pane active" id="companyView">
	                        <table ng-table="displayContactList" class="table table-striped table-condensed" show-filter="true">
	                           <tr ng-repeat="row in $data track by row.id" style="cursor: pointer;" ui-sref="app.viewContact({id : row.id})">
	                             <td data-title="'Last Name'" filter="{lastName: 'text'}" sortable="'lastName'">
	                              {{row.lastName}}
	                             </td>
	                             <td data-title="'First Name'" filter="{firstName: 'text'}" sortable="'firstName'">
	                              {{row.firstName}}
	                             </td>
	                             <td data-title="'Company Name'" filter="{owner: 'text'}" sortable="'owner'">
	                              {{row.owner}}
	                             </td>
	                             <td data-title="'Work Phone'" filter="{workPhone: 'text'}" sortable="'workPhone'">
	                              {{row.workPhone}}
	                             </td>
	                             <td data-title="'Mobile Phone'" filter="{mobilePhone: 'text'}" sortable="'mobilePhone'">
	                              {{row.mobilePhone}}
	                             </td>
	                             <td data-title="'Title'" filter="{title: 'text'}" sortable="'title'">
	                              {{row.title}}
	                             </td>
	                             <td data-title="'Pricing Email'">
	                              <toggle ng-model="row.priceEmail" ng-change="changePriceEmail(row.id, $index)" size="customToogle"></toggle>
	                             </td>
	                             <td data-title="'User Name'" filter="{userName: 'text'}" sortable="'userName'">
	                              {{row.userName}}
	                             </td>
	                           </tr>
	                         </table>
                        
                           <!-- <table class="table table-striped">
                              <thead>
                                 <tr>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <label class="font-company">Last Name <i class="fa fa-sort" aria-hidden="true"></i></label>
                                    </th>
                                    
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <label class="font-company">First Phone <i class="fa fa-sort" aria-hidden="true"></i></label>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <label class="font-company">Company Name <i class="fa fa-sort" aria-hidden="true"></i></label>
                                    </th>
                                    
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <label class="font-company">Work Phone <i class="fa fa-sort" aria-hidden="true"></i></label>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <label class="font-company">Mobile Phone <i class="fa fa-sort" aria-hidden="true"></i></label>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <label class="font-company">Title <i class="fa fa-sort" aria-hidden="true"></i></label>
                                    </th>
                                    
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <label class="font-company">Price Email<i class="fa fa-sort" aria-hidden="true"></i></label>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <label class="font-company">Username<i class="fa fa-sort" aria-hidden="true"></i></label>
                                    </th>
                                 </tr>
                              </thead>
                              <tbody>
									<tr ng-repeat="contact in contactList" style="cursor: pointer;" ui-sref="app.viewContact({id : contact.id})">
										<td>{{contact.lastName}}</td>
										<td>{{contact.firstName}}</td>
										<td>{{contact.owner.companyName}}</td>
										<td>{{contact.workPhone}}</td>
										<td>{{contact.mobilePhone}}</td>
										<td>{{contact.title}}</td>
										<td>
                                 <toggle ng-model="contact.priceEmail" ng-change="changePriceEmail(contact.id, $index)" size="customToogle"></toggle>
                              </td>
                              <td>{{contact.userName}}</td>
									</tr>
								</tbody>
                           </table> -->
                           <!-- <div class="row" style="margin-left: 0px;">
                              <div class="col-md-2">
                                 <button type="button" class="btn btn-warning">Export Customers</button>
                              </div>
                              <div class="col-md-10">
                                 <div class="row" style="margin-left: 0px;">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-2">
                                       <select class="form-control">
                                          <option>20 Records Per Page</option>
                                          <option>50 Records Per Page</option>
                                          <option>100 Records Per Page</option>
                                       </select>
                                    </div>
                                    <div class="col-md-4">
                                       <ul class="pagination" style="margin:0px">
                                          <li><a href="javascript:;">«</a></li>
                                          <li class="active"><a href="#">1</a></li>
                                          <li><a href="javascript:;">2</a></li>
                                          <li><a href="javascript:;">3</a></li>
                                          <li><a href="javascript:;">4</a></li>
                                          <li><a href="javascript:;">5</a></li>
                                          <li><a href="javascript:;">»</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div> -->
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /widget-content -->
            </div>
            <!-- /widget -->
         </div>
         <!-- /span8 -->
      </div>
      <!-- /row -->
   </div>
   <!-- /container -->
</div>
<!-- /main -->
<form class="modal multi-step" id="contact-modal-3" name="companyForm">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body step-1" data-step="1" style="padding: 0;">
               <div>
                  <div class="row" style="margin: 0;">
                     <div>
                        <div class="widget" style="margin-bottom: 0; box-shadow: none;">
                           <div class="widget-header">
                              <i class="icon-pencil"></i>
                              <i class="fa fa-tasks" aria-hidden="true"></i>
                              <h3>Add a New Contact</h3>
                              <div class="clearfix"></div>
                           </div>
                           <div class="widget-content" style="padding-left: 0; padding-right: 0; border-bottom: 0;">
                              <div class="col-xs-12">
                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>First Name</b></label>
                                    </div>
                                    <div class="pull-left" style="margin-left: 15px;">
                                       <input type="tel" ng-model="data.firstName" class="form-control" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="col-md-6">
                                    
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Last Name</b></label>
                                    </div>
                                    <div class="pull-left" style="margin-left: 15px;">
                                       <input type="tel" ng-model="data.lastName" class="form-control" id="Address" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="clearfix"></div><br>
                              <div class="col-xs-12">
                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Title</b></label>
                                    </div>
                                    <div class="pull-left" style="margin-left: 15px;">
                                       <input type="tel" ng-model="data.title" class="form-control" id="Address" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="col-md-6">
                                    
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Email</b></label>
                                    </div>
                                    <div class="pull-left" style="margin-left: 15px;">
                                       <input type="email" ng-model="data.email" class="form-control" id="Address" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="clearfix"></div><br>
                              <div class="col-xs-12">
                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Username</b></label>
                                    </div>
                                    <div class="pull-left" style="margin-left: 15px;">
                                       <input type="tel" ng-model="data.userName" class="form-control" id="Address" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="col-md-6">
                                    
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Password</b></label>
                                    </div>
                                    <div class="pull-left" style="margin-left: 15px;">
                                       <input type="password" ng-model="data.password" class="form-control" id="Address" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="clearfix"></div><br>
                              <div class="col-xs-12">
                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Work Phone</b></label>
                                    </div>
                                    <div class="pull-left" style="margin-left: 15px;">
                                       <input type="tel" ng-model="data.workPhone" class="form-control" id="Address" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="col-md-6">
                                    
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Mobile Phone</b></label>
                                    </div>
                                    <div class="pull-left" style="margin-left: 15px;">
                                       <input type="tel" ng-model="data.mobilePhone" class="form-control" id="Address" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="clearfix"></div><br>
                              <div class="col-xs-12">
                                  <div class="col-md-12">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Address</b></label>
                                    </div>
                                    <div class="pull-right" style="width: calc(100% - 123px);">
                                       <input type="tel" class="form-control" ng-model="data.address" id="Address" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="clearfix"></div><br>
                              <div class="col-xs-12">
                                  <div class="col-md-12">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Company</b></label>
                                    </div>
                                    <div class="pull-right" style="width: calc(100% - 123px);">
                                       <select class="form-control" ng-model="data.companyId">
                                          <option value="{{company.id}}" ng-repeat="company in companies">{{company.companyName}}</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              
                               
                              <div class="clearfix"></div>
                              <br/>
                              <div class="col-xs-12">
                                 <div class="col-md-3">
                                    <div class="pull-left my-toggle-switch">
                                       <div style="color: #ff9a01;">Price Email &nbsp &nbsp
                                          <toggle ng-model="data.priceEmail" size="customToogle"></toggle>
                                       </div>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="col-md-3">
                                    <div class="pull-left my-toggle-switch">
                                       <div style="color: #ff9a01;">Primary Contact &nbsp &nbsp
                                          <input type="checkbox" ng-model="data.primaryContact">
                                       </div>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Internal Note</b></label>
                                    </div>
                                    <div class="pull-left" style="width: calc(100% - 110px);">
                                       <textarea  name="message" ng-model="data.note" rows="4" cols="34"></textarea>
                                    </div>
                                 </div>
                                 <div class="clearfix"></div>
                              </div>
                              <div class="clearfix"></div><br>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer" style="border-top: 0;">
                <button type="button" class="btn btn-default" ng-click="reset()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary step step-1" data-step="1" ng-click="addContact()">Save</button>
            </div>
        </div>
    </div>
</form>

<div class="customConfirmPopBackdrop" id="toogleMail">
   <div class="customModalInner" style="max-width: 400px;">
      <div class="customModelBody" style="border-radius: 5px 5px 0 0;">
         <table>
            <tr>
               <!-- <td>
                  <img src="" style="width: 50px;">
               </td> -->
               <td>
                  <p style="padding: 5px 10px; margin-bottom: 0;text-align: center;">{{messageText}}</p>
               </td>
            </tr>
         </table>
      </div>
      <div class="customModelFooter text-right" style="border-radius: 0 0 5px 5px;">
         <button class="btn" style="padding: 4px 0; width: 80px;" ng-click="cancelToogle()">Cancel</button>
      </div>
   </div>
</div>