<style>
   .subnavbar .mainnav > li:nth-child(3) > a{
   color: #ff9900;
   }
</style>
<div class="main">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="widget stacked ">
               <div class="widget-content">
                  <div class="tabbable">
                     <ul class="nav nav-tabs Search-tabs">
                        <h2> Corman Air Coeporation</h2>
                        <li style="margin: 0px 10px 0px 0px;"><input type="text" style="height:31px;" class="form-control" name="name" id="name" placeholder="Search In Table"></li>
                        <li><button type="button" class="btn btn-default">Clear Search & Filters</button></li>
                        
                        <!-- <li style="float:right"></li> -->
                     </ul>
                     <br>  
                     <div class="tab-content" style="margin:0px">
                        <div class="tab-pane active" id="companyView">
                           <table class="table table-striped">
                              <thead>
                                 <tr>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <lable class="font-company">Fueling date</lable>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <lable class="font-company">Tail #</lable>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <lable class="font-company">FBO Name</lable>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <lable class="font-company">Volume</lable>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <lable class="font-company">Quoted</lable>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <lable class="font-company">Invoiced</lable>
                                    </th>
                                    <th>
                                       <input type="text" class="form-control" style="height:31px;" name="name" id="name">
                                       <lable class="font-company">Total</lable>
                                    </th>
                                    <th>
                                       <select style="float: right;margin:7px;">
                                          <option>Show all</option>
                                          <option>paid</option>
                                          <option>pending</option>
                                          <option>cancelled</option>
                                       </select>
                                       <lable class="font-company">Status</lable>
                                    </th>
                                    <th>
                                    <select style="float: right;margin:7px;">
                                       <option>Show all</option>
                                       <option>Attachmens</option>
                                       <option>No Attachmens</option>
                                    </select>
                                       <lable class="font-company">Attachmens</lable>
                                    </th>
                                    <th></th>
                                    <th></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N500HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">paid</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td ></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N968HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">pending</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N300HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">Cancelled</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td ></td>
                                 </tr>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N500HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">pending</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td ></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N600HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">paid</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td ></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N500HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">Cancelled</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td ></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N900HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">paid</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td ></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N500HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">pending</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td ></td>
                                    <td></td>
                                 </tr>
                                 <tr>
                                    <td class="font-company">04/05/2017</td>
                                    <td class="font-company">N580HG</td>
                                    <td class="font-company">TBase FBO</td>
                                    <td class="font-company">1000</td>
                                    <td class="font-company">$4.4500</td>
                                    <td class="font-company">$0.000</td>
                                    <td class="font-company">$691.42</td>
                                    <td class="font-company">Cancelled</td>
                                    <td class="font-company"><i class="fa fa-paperclip" aria-hidden="true"></i></td>
                                    <td ></td>
                                    <td></td>
                                 </tr>
                              </tbody>
                           </table>
                           <div class="row" style="margin-left: 0px;">
                              <div class="col-md-2">
                                 <button type="button" class="btn btn-warning">Export Fuel Orders</button>
                              </div>
                              <div class="col-md-10">
                                 <div class="row" style="margin-left: 0px;">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-2">
                                       <select class="form-control">
                                          <option>20 Records Per Page</option>
                                          <option>50 Records Per Page</option>
                                          <option>100 Records Per Page</option>
                                       </select>
                                    </div>
                                    <div class="col-md-4">
                                       <ul class="pagination" style="margin:0px">
                                          <li><a href="javascript:;">«</a></li>
                                          <li class="active"><a href="#">1</a></li>
                                          <li><a href="javascript:;">2</a></li>
                                          <li><a href="javascript:;">3</a></li>
                                          <li><a href="javascript:;">4</a></li>
                                          <li><a href="javascript:;">5</a></li>
                                          <li><a href="javascript:;">»</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
            </div>
      
         </div>
         
      </div>
      
   </div>
   
</div>
