<div class="col-xs-12 col-md-11">
   <div class="row" style="margin-left:0px">
      <div class="col-md-5">
         <div class="widget">
            <div class="widget-header">
               <i class="fa fa-user" aria-hidden="true"></i>
               <h3>Account Setting</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
               <h3 style="color: #666;margin-left: 10px;">Castle & Cooke FBO</h3></br>
               <form role="form">
                    <div class="col-sm-6">
                            <div class="form-group"><label>Username</label> <input type="email" placeholder="Username" ng-model="userData.email" class="form-control"></div>
                            <div class="form-group"><label>First Name</label> <input type="text" placeholder="First Name" ng-model="userData.firstName" class="form-control"></div>
                            <div class="form-group"><label>Last Name</label> <input type="text" placeholder="Last Name" ng-model="userData.lastName" class="form-control"></div>
                    </div>

                    <div class="col-sm-6">
                        <!-- <div class="form-group"><label>Password</label> <input type="password" ng-model="userData.password" placeholder="Password" class="form-control"></div> -->
                        <div class="form-group"><label>Phone</label> <input type="tel" ng-model="userData.phone" placeholder="Phone" class="form-control"></div>
                        <div class="form-group"><label>Mobile</label> <input type="tel" ng-model="userData.mobile" placeholder="Mobile" class="form-control"></div>
                    </div>
                    <div class="col-xs-12">
                      <div class="col-xs-12">
                        <div class="form-group">
                            <div class="row">
                              <div class="col-md-5">
                                <label class="new-input-label"><b>Fuel Types Offered&nbsp;</b></label>
                              </div>
                              <div class="col-md-7" >
                                <label ng-repeat="product in productList" style="width: 100%; font-weight: normal;">
                                  <!-- <input type="checkbox" ng-model="product.status" ng-click="checkProduct(product)"> {{product.name}}<br> -->
                                  <input type="checkbox" id="Weekdays" ng-model="product.status" ng-click="checkProduct(productList, product, $index)">{{product.name}}
                                </label>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" style="text-align: center;">
                        <button type="button" class="btn btn-primary" ng-click="updateUser()">Save</button>
                        <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- /widget-content -->
         </div>
         <!-- /widget -->
      </div>
      <div class="col-md-7">
         <div class="widget">
            <div class="widget-header">
               <i class="fa fa-tasks" aria-hidden="true"></i>
               <h3>Additional User Accounts</h3>
               <div class="pull-right">
                   <button type="submit" style="margin-top: 4px;margin-right: 9px;" ng-click="addAccount()" data-toggle="modal" data-target="#vendor-modal-3" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Add Contact</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
               <div class="table-responsive">
                   <table class="table table-bordered table-hover table-striped">
                      <thead>
                         <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Username</th>
                            <th>Password</th>
                            <th>Control</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td rowspan="2">1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>otto@email.com</td>
                            <td>@otto</td>
                            <td><input id="toggle-one2" checked type="checkbox" data-size="mini" data-width="55" data-toggle="toggle" data-on="Active" data-off="Deactive"></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
            </div>
            <!-- /widget-content -->
         </div>
         <!-- /widget -->
      </div>
      <!-- /span6 -->
   </div>
   <!-- /widget -->
</div>
<!-- /container -->
<div class="clearfix"></div>

<form class="modal multi-step" id="demo-modal" name="fuelOrderUpdateForm">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-body step-1" data-step="1" style="padding: 0;">
               <div>
                  <div class="row" style="margin: 0;">
                     <div>
                        <div class="widget" style="margin-bottom: 0;">
                           <div class="widget-header">
                              <i class="icon-pencil"></i>
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <h3>Account Settings</h3>
                                <div class="pull-right" style="margin-top: 5px; margin-right: 10px;">
                              <toggle ng-model="companyData.activate" ng-change="changeCompanyStatus()" size="customToogle" on="Active" off="Inactive"></toggle>
                            </div>
                              <div class="clearfix"></div>
                           </div>
                           <div class="widget-content" style="padding-left: 0; padding-right: 0; border-bottom: 0;">
                      <div class="col-xs-12">
                            <div class="col-xs-12">
                                <h2 style="color:#666;">Additional User Control</h2>
                            </div>
                              <div class="clearfix"></div><br>

                               <div class="col-xs-12">

                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>First Name</b></label>
                                    </div>
                                   
                                    
                                 </div>
                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Last Name</b></label>
                                    </div>
                        
                                    
                                 </div>
                                
                                  </div>
                             
                              <br/>
                             
                              
                             <div class="col-xs-12">

                                  <div class="col-md-6">
                                     <div class="pull-left" style="width: calc(140% - 170px);">
                                       <input type="text" ng-model="accountdata.fname" placeholder="First Name" class="form-control" >
                                    </div>
                                   
                                    <div class="clearfix"></div>
                                 </div>
                                  <div class="col-md-6">
                                     <div class="pull-left" style="width: calc(140% - 170px);">
                                       <input type="text" ng-model="accountdata.lname" placeholder="Last Name" class="form-control"  >
                                    </div>
                                   
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                               <div class="clearfix"></div>
                              <br/>
                             
                               <div class="col-xs-12">
                                
                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Username</b></label>
                                    </div>
                                   
                                    
                                 </div>
                                 <div class="col-md-6">
                                    <div class="pull-left" style="width: 110px;">
                                       <label class="new-input-label"><b>Password</b></label>
                                    </div>
                        
                                    
                                 </div>
                                
                                  </div>
                             
                              <br/>
                               <div class="col-xs-12">

                                  <div class="col-md-6">
                                     <div class="pull-left" style="width: calc(140% - 170px);">
                                       <input type="text" ng-model="accountdata.uname" placeholder="XYZfbo@gmail.com" class="form-control" >
                                    </div>
                                   
                                    <div class="clearfix"></div>
                                 </div>
                                  <div class="col-md-6">
                                     <div class="pull-left" style="width: calc(140% - 170px);">
                                       <input type="text" ng-model="accountdata.pwd" placeholder="Password" class="form-control" >
                                    </div>
                                   
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="clearfix"></div>
                              <div class="clearfix"></div>
                              <br/>
                              <div class="col-xs-12">
                                <div class="col-md-6">
                                <input type="checkbox" id="Weekdays" ng-model="accountdata.fuelMgrAccess" >&nbsp Allow Fuel Manager Access
                                <br>
                                <input type="checkbox" id="Weekdays" ng-model="accountdata.fuelMgrAccess" >&nbsp Allow Emailed Price Distribution
                                </div>
                              </div>
                              <div class="clearfix"></div>
                              <br/>
                              <div class="col-xs-12">

                              </div>
                             
                            
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
           
            <div class="modal-footer" style="border-top: 0;">
                <button type="button" class="btn btn-primary step step-1" data-step="1" ng-click="createAddAccount()">Save</button>
                <button type="button" class="btn btn-default" ng-click="cancelAddAccount()" data-dismiss="modal">Cancel</button>
           </div>
        </div>
    </div>
</div>
</form>

                  