<style type="text/css">
	.subnavbar .mainnav > li:nth-child(2) > a{
		color: #ff9900;
	}
	.customInputWrap{
		margin-top: 15px;
	}
	.customInputWrap label{
		font-weight: normal;
		margin-bottom: 0;
	}
</style>
<div class="myLoader" ng-show="showLoader">
   <img src="../img/hourglass.gif" width="50px;">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<div class="widget stacked">
				<div class="widget-header">
					<i class="fa fa-search" aria-hidden="true"></i>
					<h3>Search and Dispatch Fuel</h3>
				</div>
				<div class="widget-content new-widget-content">
					<form>

						<div class="customInputWrap">
							<div class="col-md-3 text-right">
								<label>Company</label>
							</div>
							<div class="col-md-9">
								<select ui-select2 ng-model="order.companyName" ng-change="getAircraft(order.companyName)" style="width: 100%;">
									<option value="" selected disabled>Select Company</option>
									<option ng-repeat="list in companyList">{{list.companyName}}</option>
								</select>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="customInputWrap">
							<div class="col-md-3 text-right">
								<label>Aircraft</label>
							</div>
							<div class="col-md-3">
								<select class="form-control" ng-model="order.aircraftName">
									<option selected disabled value="">Select Aircraft</option>
									<option ng-repeat="list in aircraftList" value="{{list.tail}}">{{list.tail}}</option>
								</select>
							</div>
							<div class="col-md-3 text-right">
								<label>Requested Volume</label>
							</div>
							<div class="col-md-3">
								<input type="text" ng-model="order.volume" class="form-control">
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="customInputWrap">
							<div class="col-md-3 text-right">
								<label>Price Quote</label>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<select class="form-control" ng-model="order.priceQuote" ng-change="setCost(order.priceQuote)">
									<option value="" selected disabled>Select Price Quote</option>
									<option ng-repeat="margin in marginList" value="{{margin}}">${{margin.papTotal}} {{margin.productName}}</option>
								</select>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="customInputWrap">
							<div class="col-md-3 text-right">
								<label>Tier Break</label>
							</div>
							<div class="col-md-8 col-md-offset-1">
								<select class="form-control" ng-model="order.tierBreak">
									<option value="" selected disabled>Select Tier Break</option>
									<option ng-repeat="list in tierList" value="{{list.minTierBreak}}-{{list.maxTierBreak}}">
										{{list.minTierBreak}}-{{list.maxTierBreak}} = ${{list.marginTotal | number: 2}} {{list.marginTemplate.marginName}}
									</option>
								</select>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="customInputWrap">
							<div class="col-md-3 text-right">
								<label>Uplift Date</label>
							</div>
							<div class="col-md-3">
								<input type="text" ng-model="order.upliftDate" datepicker class="form-control">
							</div>
							<div class="col-md-3 text-right">
								<label>Departing FBO</label>
							</div>
							<div class="col-md-3">
								<input type="text" ng-model="order.departingDate" datepicker class="form-control">
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="customInputWrap text-right">
							<div class="col-xs-12">
								<input type="cancel" value="Cancel" ng-click="cancelOrder()" class="btn btn-default" style="margin-right: 15px; width: 100px;">
								<input type="submit" value="Dispatch" ng-click="dispatchFuel()" class="btn btn-primary">
							</div>
							<div class="clearfix"></div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>