<div class="container">
<div class="row">
   <div class="col-md-4">
        <div class="widget">
         <!-- <div class="widget-header"></div> -->
         <div class="widget-content" style="padding-left: 0; padding-right: 0; padding-bottom: 0;">
            <div class="col-md-2"><img class="src-image" src="img/images.jpg"></div>
            <div class="col-md-10">
                <p> Aer you sure that you want to email pricing to everyone in your contact list</p>
            </div>
            <div class="col-xs-12" style="background-color: #eee; padding: 15px; text-align: right;">
                  <button type="button" class="btn btn-default" style="padding: 3px 12px; border-radius: 0;">yes</button>
                  <button type="button" class="btn btn-default" style="padding: 3px 12px; border-radius: 0;">Cancel</button>
            </div>
        </div>
        </div>
	</div>
</div>
</div>