<style>
   .subnavbar .mainnav > li:first-child > a{
      color: #ff9900;
   }
</style>


<div class="main">
  <div class="container" >
        <div class="row">
          <div class="col-md-7">
            <div class="widget stacked">
              <div class="widget-header">
                <i class="fa fa-search" aria-hidden="true"></i>
                <h3>Search and Dispatch Fuel</h3>
              </div>
              <div class="widget-content new-widget-content">
                <form>

                  <div class="customInputWrap">
                    <div class="col-md-3 text-right">
                      <br>
                      <label>Airport</label>
                    </div>
                    <div class="col-md-3">
                      <br>
                      <input type="text" ng-model="order.airport" class="form-control" ng-blur="getFBOMarginList();">
                      <span style="font-size:10px">Formats: IATA, ICAO, City or Airport Name</span>
                    </div>

                     <div class="col-md-3 text-right">
                       <br>
                      <label>Aircraft</label>
                    </div>
                    <div class="col-md-3">
                      <br>
                      <select class="form-control" ng-model="order.aircraftName">
                        <option selected disabled value="">Select Aircraft</option>
                        <option ng-repeat="list in aircraftList" value="{{list.tail}}">{{list.tail}}</option>
                      </select>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="customInputWrap">
                   
                    <div class="col-md-3 text-right">
                      <br>
                      <label>Requested Volume</label>
                    </div>
                    <div class="col-md-3">
                      <br>
                      <input type="text" ng-model="order.volume" class="form-control">
                    </div>

                    <div class="col-md-3 pull-right col-md-offset-1 ">
                      <br>
                      <input type="submit" value="Get Quote" ng-click="getQuote()" class="btn btn-primary" ng-show="getQuote">
                    </div>

                    <div class="clearfix"></div>
                  </div>

                  <div class="customInputWrap" ng-show="showQuote">
                    <div class="col-md-3 text-right">
                      <br>
                      <label>FBO Name</label>
                    </div>
                    <div class="col-md-8 ">
                      <br>
                      <select class="form-control" ng-model="order.priceQuote" ng-change="getTiers(); setCost(order.priceQuote)" >
                        <option value="" selected disabled>Select FBO</option>
                        <option ng-repeat="margin in marginList"  value="{{margin}}">${{margin.papTotal}} {{margin.productName}}: {{margin.companyName}}</option>
                      </select>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="customInputWrap" ng-show="showQuote">
                    <div class="col-md-3 text-right">
                      <br>
                      <label>Tier Break</label>
                    </div>
                    <div class="col-md-8 ">
                      <br>
                      <select class="form-control" ng-model="order.tierBreak">
                        <option value="" selected disabled>Select Price Quote</option>
                        <option ng-repeat="list in tierList" value="{{list.minTierBreak}}-{{list.maxTierBreak}}">
                          {{list.minTierBreak | number: 2}}-{{list.maxTierBreak | number: 2}} = ${{list.marginTotal | number: 2}} {{list.marginTemplate.marginName}}
                        </option>
                      </select>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="customInputWrap" ng-show="showQuote">
                    <div class="col-md-3 text-right">
                      <br>
                      <label>Uplift Date</label>
                    </div>
                    <div class="col-md-3">
                      <br>
                      <input type="text" ng-model="order.upliftDate" datepicker class="form-control">
                    </div>
                    <div class="col-md-3 text-right">
                      <br>
                      <label>Departing FBO</label>
                    </div>
                    <div class="col-md-3">
                      <br>
                      <input type="text" ng-model="order.departingDate" datepicker class="form-control">
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="customInputWrap text-right" ng-show="showQuote">
                    <div class="col-xs-12">
                      <br>
                      <input type="cancel" value="Cancel" ng-click="cancelOrder()" class="btn btn-default" style="margin-right: 15px; width: 100px;">
                      <input type="submit" value="Dispatch" ng-click="dispatchFuel()" class="btn btn-primary">
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
</div>
</div>
<!-- /main -->